<section class="content-header">
    <h1>@ViewBag.PageTitle</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa @ViewBag.i1"></i> @ViewBag.v4</a></li>
        <li class="active"><i class="fa @ViewBag.i2"></i> @ViewBag.v5</li>
        <li class="active"><i class="fa @ViewBag.i3"></i> @ViewBag.v6</li>
    </ol>
</section>