


    <section class="content-header">
        <h1 style="margin-left:18px; ">@ViewBag.PageTitle</h1>
        <ol class="breadcrumb" style="margin-right:20px">
            <li><a href="#"><i class="fa @ViewBag.i1"></i> @ViewBag.v4</a></li>
            <li class="active"><i class="fa @ViewBag.i2"></i> @ViewBag.v5</li>
            <li class="active"><i class="fa @ViewBag.i3"></i> @ViewBag.v6</li>
        </ol>
    </section>
